*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.tk-body {
    margin-top: 5rem;
    width: 1000px;
}

.detailes {
    display: flex;
    width: 50%;
}

.tk-name {
    width: 50%;
}

.tk-price {
    width: 50%;
}
